_Store
.idea
.idea/*
readme.html
wp-config.php

wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-content/themes/_s/.sass-cache
wp-content/themes/_s/.sass-cache/*
wp-content/themes/_s/bower_components
wp-content/themes/_s/bower_components/*
wp-content/themes/_s/node_modules/
wp-content/themes/_s/node_modules/*